{% extends 'layout.html' %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}
    {% include 'posts/post.html'  with post=post %}

    <hr/>
    <h1 class="display-4">Comments</h1>
    {% if user.is_authenticated %}
        {% include 'comments/post.html' with post=post %}
    {% endif %}
    {% if not user.is_authenticated %}
        <div class="alert alert-warning" role="alert">
            Please
            <a href="/login">Login</a> or
            <a href="/register">Register</a>
            to comment
        </div>
    {% endif %}
    <div id="commentSection" data-post-id="{{ post.id }}">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
{% endblock %}

