<html>

<head>
    <title>
        {% block title %}
            Gosthi
        {% endblock %}
    </title>
    <link rel="stylesheet" href="/static/styles/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/styles/custom.css"/>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark  bg-dark">
    <a class="navbar-brand" href="#">Gosthi</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="/posts/create">Create Post</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{ user.first_name }}&nbsp;{{ user.last_name }}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/logout">Logout</a>
                    </div>
                </li>
            {% endif %}
            {% if user.is_authenticated == False %}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Sign in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/register">Sign up</a>
                </li>
            {% endif %}

        </ul>
        <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>

<main role="main" class="container main-container">
    <div class="jumbotron">
        {% if messages %}

            {% for message in messages %}
                {% if message.tags == "info" %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% elif message.tags == "error" %}
                    <div class="alert alert-danger">{{ message }}</div>

                {% else %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>

                {% endif %}


            {% endfor %}

        {% endif %}
        {% block content %} {% endblock %}
    </div>

    <script>
        const user = {
            id: '{{ user.id }}'
        }
        if (user.id === 'None') {
            user.id = ''
        } else {
            user.id = parseInt(user.id)
        }
        window.auth = Object.freeze(user)
    </script>
</main>
<script src="/static/js/jquery.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/script.js"></script>
</body>
</html>


